= link_to 'T', 
  code_path(:id => team, :form => :ty), 
  :id => "code_link_#{team.id}_#{team.prefix}_ty",
  :class => "code_link",
  :title => "Download Photo Mechanic Code Replacements"
= link_to 'E', 
  code_path(:id => team, :form => :te), 
  :id => "code_link_#{team.id}_#{team.prefix}_te",
  :class => "code_link",
  :title => "Download Text Expander Snippets"
= link_to 'A', 
  code_path(:id => team, :form => :ah), 
  :id => "code_link_#{team.id}_#{team.prefix}_ah",
  :class => "code_link",
  :title => "Download Photo Mechanic Code Replacements"
= link_to 'M', 
  code_path(:id => team, :form => :pm), 
  :id => "code_link_#{team.id}_#{team.prefix}_pm",
  :class => "code_link",
  :title => "Download Photo Mechanic Code Replacements"
