= link_to 'Download', 
  code_path(:id => team, :form => :pm), 
  :id => "#{team.id}_#{team.prefix}_#{team.name}",
  :class => "download_link button",
  :title => "Download Team Roster For #{team.name}"
