%table
  %tr
    %th Number
    %th First name
    %th Last name
    %th Position
  - @players.each do |player|
    %tr
      %td= player.number
      %td= player.first_name
      %td= player.last_name
      %td= player.position
= will_paginate @players, :inner_window => 1, :outer_window => 1
