- @title = "Custom Team Roster"
%h1= "Custom Roster"

#custom_roster_form_container
  = @time
  = form_tag :action => "custom" do
    #team_name_label.float_left
      %p= "Team Name"
    .float_right
      %p.description.italic= "Example:"
      %p.description= "Kitsap Hoopsters"
    .clear
    = text_field_tag :custom_team_name, @team_name

    #csv_area_label.float_left
      %p= "Team Roster"
    .float_right
      %p.description.italic= "Example:"
      %p.description= "8,SG,Kobe,Bryant"
      %p.description= "18,D/M,Mike,Banner"
    .clear
    = text_area_tag :csv_text_area, @csv

    %br
    = submit_tag "Create Roster", :id => "custom_submit_button", :class => "button"
