- title "Teams"

%table
  %tr
    %th Name
    %th Code
  - for team in @teams
    %tr
      %td= team.name
      %td= link_to 'download', code_path(team)
      %td= link_to 'Show', team
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Team", new_team_path(team)
