- @title = "#{@team.league.short_name}: #{@team.name}"
%h1= link_to @team.name, @team.league


#code_links
  = render :partial => 'code_links', :locals => {:team => @team}

%table
  %tr
    %th Number
    %th First name
    %th Last name
    %th Position
  - @team.players.each do |player|
    %tr
      %td= player.number
      %td= player.first_name
      %td= player.last_name
      %td= player.position
