- title @team.name

%p
  %table
    %tr
      %th Number
      %th First name
      %th Last name
      %th Position
    - @team.players.each do |player|
      %tr
        %td= link_to player.number, player
        %td= player.first_name
        %td= player.last_name
        %td= player.position
%p
  = link_to "Edit", edit_team_path(@team)
  |
  = link_to "Destroy", @team, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", teams_path
