- title @team.name

%p
  %strong Name:
  = @team.name
%p
  %strong Roster:
  %br
  - @team.players.each do |p|
    = link_to p.name, p
    %br

%p
  = link_to "Edit", edit_team_path(@team)
  |
  = link_to "Destroy", @team, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", teams_path
