%p.pagination_info= page_entries_info @teams

%table
  %tr
    %th League
    %th Name
    %th Players
    %th Roster
  - @teams.each do |team|
    %tr
      - title = "View Team Roster"
      %td= link_to team.league.short_name, team.league, :title => title
      %td= link_to team.name, team, :title => title
      %td= link_to team.players.size, team, :title => title
      %td
        = render :partial => 'teams/download_link', :locals => {:team => team}

%p.pagination_info= page_entries_info @teams
= will_paginate @teams, :inner_window => 1, :outer_window => 1
