- @title = "#{@league.short_name}: #{@league.name}"
%h1= @league.name

%table
  %tr
    %th League
    %th Name
    %th Players
    %th Code
  - @league.teams.each do |team|
    %tr
      %td= link_to team.league.short_name, team.league
      %td= link_to team.name, team
      %td= link_to team.players.size, team
      %td
        = render :partial => 'teams/download_link', :locals => {:team => team}
