- @title = "#{@league.short_name}: #{@league.name}"
%h1= @league.name

- if @league.has_females?
  #gender_button_container
    = render :partial => 'gender_links', :locals => {:gender => @gender, :league => @league}

= form_tag @league, :method => 'get', :id => 'team_search_form' do
  = text_field_tag :search, @search
  = submit_tag "Search", :id => "team_search_submit_button", :class => "button", :name => nil

#teams
  = render :partial => 'teams'
