- @title = "#{@league.short_name}: #{@league.name}"
%h1= @league.name

- if @league.has_females?
  #gender_button_container
    = render :partial => 'gender_links', :locals => {:gender => @gender, :league => @league}

%table
  %tr
    %th League
    %th Name
    %th Players
    %th Code
  - @teams.each do |team|
    %tr
      %td= link_to team.league.short_name, team.league
      %td= link_to team.name, team
      %td= link_to team.players.size, team
      %td
        = render :partial => 'teams/download_link', :locals => {:team => team}
