- title @league.name

%p
  %strong Name:
  = @league.name
%p
  %strong Teams:
  - @league.teams.each do |team|
    %br
    = link_to team.name, team

%p
  = link_to "Edit", edit_league_path(@league)
  |
  = link_to "Destroy", @league, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", leagues_path
