- title "Players"

%table
  %tr
    %th Number
    %th First name
    %th Last name
    %th Position
    %th Team
  - for player in @players
    %tr
      %td= link_to player.number, player
      %td= player.first_name
      %td= player.last_name
      %td= player.position
      %td= link_to player.team.name, player.team
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Player", new_player_path(player)
