!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery.min','jquery-ui.min','rails','application'
    = csrf_meta_tag
    = yield(:head)

  %body
    #header
      - @leagues.each do |league| 
        - if !@league.nil? && (@league == league)
          .selected= link_to league.short_name, league
        - else
          %div= link_to league.short_name, league

    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1= yield(:title)

      = yield

    #footer
      .left
        = "code replacements"
      .right
        = "chris@chrishuntphoto.com"
      .clear
