!!!
%html

  %head
    %title
      = "#{@title} | Roster Snippets by Roser Runner"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery.min','jquery-ui.min','rails','application'
    = csrf_meta_tag
    = yield(:head)

  %body
    #header
      - @leagues.each do |league| 
        - if !@league.nil? && (@league == league)
          .selected= link_to league.short_name, league
        - else
          %div= link_to league.short_name, league
      - if @league.nil?
        .selected= link_to "About", about_path
      - else
        %div= link_to "About", about_path

    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield

    #footer
      .left
        = "code replacements"
      .right
        = "chris@chrishuntphoto.com"
      .clear
    
    #prefix_dialog{:title => "Download Roster Snippets"}
      %p= "Customize the prefix for this team's generated roster snippets."
      %form
        %input{:type => "text", 
          :name => "prefix", 
          :id => "prefix_dialog_input"}
        %input{:type => "hidden", 
          :name => "prefix_dialog_team_id", 
          :id => "prefix_dialog_team_id",
          :value => ""}
        %input{:type => "hidden", 
          :name => "prefix_dialog_form", 
          :id => "prefix_dialog_form",
          :value => ""}

    / Load user voice script
    %script{:type => "text/javascript",:src => "/javascripts/user-voice.js"}
