!!!
%html

  %head
    %title
      = "#{@title} | Roster Snippets by Roser Runner"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'jquery-ui-1.8.9.custom','application'
    = javascript_include_tag 'jquery.min','jquery-ui.min','rails','application','analytics'
    = csrf_meta_tag
    = yield(:head)

  %body
    #header
      - header

    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield

    #download_dialog{:title => "Download Roster"}
      - download_dialog

    / Load user voice script
    = javascript_include_tag 'user-voice'
